<h2>Selected Pokemon<h2>

<div class = "pokemon">
  <p>Pokemon Name: <%= @selected_pokemons.name %></p><br>
  <p>Combat Power: <%= @selected_pokemons.cp %></p><br>
  <p>Pokemon Type: <%= @selected_pokemons.poke_type %></p><br>
  <img src = "<%= @selected_pokemons.img_url %>"> 
</div>
